<section class="container mt-5 mb-5" aria-labelledby="menu-heading">
  <h1 id="menu-heading" class="text-center mb-4">Our Menu</h1>
  <div class="row">
    <div class="col-sm-6 col-lg-4" *ngFor="let fd of foodData">
      <article class="foodbox mt-3 mb-3">
        <img [src]="fd.foodImg" [alt]="fd.foodName" />
        <h2 class="foodbox-title">{{ fd.foodName }}</h2>
        <p class="foodbox-details">
          {{ fd.foodDetails }}
        </p>
        <p class="foodbox-price">
          {{ fd.foodPrice | currency: 'USD' }}
        </p>
        <a class="buybtn" [routerLink]="['/menu', fd.id]">
          Buy Now&nbsp;<i class="bi bi-bag" aria-hidden="true"></i>
        </a>
      </article>
    </div>
  </div>
</section>
