.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app-main {
  flex: 1 0 auto;
}

.app-footer {
  flex-shrink: 0;
}
